@import url(buttons.css);
@import url(banner.css);
@import url(cards.css);
@import url(footer.css);
@import url(navbar.css);

h1{
margin-top: 0;
}

body{
	margin: 0;
	text-align: center;
	text-decoration-color: black;
}

a{
	text-decoration: none;
	color: black;
}

i{
	font-size: 48px;
	color: rgba(0,0,0, 0.2);
}

body{
	color: rgba(52,28,120,8);
}

i:hover {
color:black;
transition: 1s;
}

#fb i:hover{
	color: blue;
}

#ins i:hover{
	color: purple;
}

#contact i:hover{
	color: red;
}

#snap i:hover{
	color: yellow;
}

#what i:hover{
	color: green;
}

h1:hover{
	color: black;
}

h2:hover{
	color: black;
}

h3:hover{
	color: black;
}

.meme{
	width: 100vh;
	height: 480px;
}